<main id="mainWrapper" class="main-wrapper">
    <app-app-theme-header (signout)="onSignoutAsync()" (toggle)="onToggle()">
        <app-theme-color-dropdown
            [dropdownItems$]="themeColorDropdownItems$"
            [selectedDropdownItem$]="selectedThemeColorDropdownItem$"
            (selectColor)="onSelectColor($event)">
        </app-theme-color-dropdown>
    </app-app-theme-header>

    <app-app-theme-sidebar></app-app-theme-sidebar>

    <div id="appContent" class="app-content">
        <div class="app-content-area">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</main>