<div class="header">
    <div class="navbar-custom navbar navbar-expand-lg">
        <div class="container-fluid px-0">
            <div class="navbar-nav">
                <button type="button" class="nav-toggle nav-link p-0" id="navToggle" aria-label="Sidebar button">
                    <i class="bi bi-layout-sidebar"></i>
                </button>
            </div>

            <div class="navbar-nav navbar-right-wrap ms-lg-auto d-flex nav-top-wrap align-items-center ms-4 ms-lg-0">
                <div class="dropdown ms-2">
                    <button class="btn btn-bd-primary dropdown-toggle d-flex align-items-center nav-link" id="themeColorButton"
                        type="button" aria-expanded="false" data-bs-toggle="dropdown"
                        aria-label="Theme color (auto)">
                        <i class="bi bi-sun-fill me-2 theme-color-icon" id="themeColorButtonIcon"></i>
                        <span class="visually-hidden" id="themeColorButtonText">Theme color</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end text-small shadow"
                        aria-labelledby="themeColorButtonText">
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center"
                                data-bs-theme-value="light" aria-pressed="false">
                                <i class="bi bi-sun-fill me-2 opacity-50 theme-icon" data-icon-name="bi-sun-fill"></i>
                                Light
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center"
                                data-bs-theme-value="dark" aria-pressed="false">
                                <i class="bi bi-moon-stars-fill me-2 opacity-50 theme-icon" data-icon-name="bi-moon-stars-fill"></i>
                                Dark
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center active"
                                data-bs-theme-value="auto" aria-pressed="true">
                                <i class="bi bi-circle-half me-2 opacity-50 theme-icon" data-icon-name="bi-circle-half"></i>
                                Auto
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="dropdown ms-2">
                    <button class="btn btn-bd-primary dropdown-toggle d-flex align-items-center nav-link" type="button"
                        data-bs-toggle="dropdown">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                            class="rounded-circle me-2" />
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end text-small shadow">
                        <p class="px-3 m-0">Logged as <strong>Username</strong></p>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center" (click)="onSignout()">
                                <i class="bi bi-power me-2 opacity-50"></i>Sign out
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>